<div>
    <h3> <%= "#{@team.name}'s portal" %> </h3>
    <%= link_to "User Portal", home_url %>
</div>

<div>
    <h3> <%="Roster:"%> </h3>
    <li><%="Admin: #{@admin}"%></li>
    <% @students.each do |student| %>
        <li><%=student.username%></li>
    <%end%>
</div>

<div>
    <h3> Events </h3>
    <% @events.each do |event| %>
        <li><%=link_to "#{event.name}", event_url(event)%></li>
    <%end%>
    <%= link_to "New Event", new_event_url %>
</div>

<div>
    <h3> Tasks </h3>
    <% @tasks.each do |task| %>
        <li> <%=link_to "#{task.name}", task_url(task)%> </li>
    <%end%>
    <%= link_to "New Task", new_task_url %>
</div>

Delete team will go here when we get there
