<div>
<h3><%= "#{@participant.name}" %></h3><br>
<%= "Team #{@participant.team_number}" %><br>
</div>

<div>
    <h3> Scouting Data </h3>
    <%="Autonomous - #{@participant.autonomous}"%><br>
    <%="Score? - #{scout(@participant.scoring)}" %><br>
    <%="Climb? - #{scout(@participant.climbing)}" %><br>
    <%= "Robot Complete? - #{scout(@participant.robot_status)}"%>
</div>


  <%= link_to "Edit Partipant Data", edit_event_participant_url(@event,@participant)%><br>
  <% if @user.admin == 1%>
  <%= form_tag event_participant_url(@event,@participant), method: "delete" do %>
    <%= submit_tag "Delete" %>
  <% end %>
<%end%>
<%= link_to "Go back", event_url(@event) %>
