<% flash.each do |type, msg| %>
 <div class="alert alert-info">
   <%= msg %>
 </div>
<% end %>

<% if @user.errors.any? %>
 <div id="error_explanation">
  <h2>Cant create User:</h2>
  <ul>
   <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %> 

<%= form_for(User.new) do |a| %>
 <li> <%= a.label :username %> 
 <%= a.text_field :username %> </li>
 <li><%= a.label :password %>
 <%= a.text_field :password %></li>
 <li><%= a.submit %></li>
<% end %>

<%= link_to "Go Back", root_url%>