<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
<%= form_for(User.new) do |a| %>
   <li> <%= a.label :username %> 
    <%= a.text_field :username %> </li>
    <li><%= a.label :password %>
    <%= a.text_field :password %></li>
    <li><%= a.submit %></li>
<% end %>