<%= "Currently logged in: #{@user.username}" %>
<div>
    <h1> User Home </h1>
    <p> Username: <%= @user.username %> </p>
    <%= link_to "Account Settings", edit_user_url(@user)%><br>
    <%= form_tag session_url(session[:user_id]), method: "delete" do %>
        <%= submit_tag "Log out" %>
      <% end %>
</div>

<div> 
    <h3> Your Team </h3>
    <%if on_team?(@user) %>
        <%= link_to "#{@team.name}'s portal", team_url(@team)%>
    <%else%>
        <%= link_to "Link a team to your account!", new_team_url%>
    <%end%>
</div>

<div>
    <h3> Tasks </h3>
    <% if @user.tasks.length != 0 %>
        <%@user.tasks.each do |task|%>
            <li> <%= link_to "#{task.name}", task_url(task)%> </li>
        <%end%>
    <%else%>
        <p> No tasks at the moment </p>
    <%end%>
</div>