<h3> New Scouting Data Form </h3>
<%= form_for [@event,Scout.new] do |a| %>
    <%= a.label :Team %>
    <%= a.collection_select :participant_id, @participants, :id, :team_number, include_blank: true %><br>
    <%= a.label :Completed_robot? %>
    <%= a.check_box :robot %><br>
    <%= a.label :Scoring? %>
    <%= a.check_box :scoring %><br>
    <%= a.label :climbing %>
    <%= a.check_box :climbing? %><br>
    <%= a.label :Autonomous_Summary %><br>
    <%= a.text_area :autonomus%>
     <%= a.submit %>
     <%end%>
     <%= link_to "Go Back", event_url(@event)%>
